@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: 'Lato', sans-serif;

}

img {
  width: 100%;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;

}


/* NAVBARS */

.nav-container{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.4);
  width: 100vw;
  background-color: rgb(182, 165, 148);

}

.nav-main{
  height: 8vh;
}

.nav-logo {
  width: 6vw;
}

.nav-buttons a {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.split-container div {
  height: 0.1vh;
  width: 97vw;
  background-color: rgba(137, 145, 141, 0.3);
}

.second-navbar {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 !important;
}

.second-nav-icon-div {
  width: 40vw;
}

.nav-icon-container{
  display: flex;
  align-items: center;
  margin-right: 1vw;
  color: rgba(255, 255, 255, 1);
}

.nav-icon-container img {
  width: 2.5vw;

}

.nav-icon-container p {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  width: 6vw;
  
}

.navbar-list a.chosen,
.navbar-list a:hover {
  border-bottom: 0.5  px solid lightgreen;
}

.logged-in-welcome {
  display: flex;
  align-items: center;
  margin-right: 1vw;
  font-weight: bold;
  color: rgba(95, 59, 19, 0.863);
}
/* SEARCH BAR */

.search-bar-container {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  height: 5vh;
  width: 38vw;
  border-radius: 24px;
  z-index: 3;
}

.search-bar-container input {
margin: 0.6rem;
width: 100%;
border: transparent;
outline:0px !important;
-webkit-appearance:none;
box-shadow: none !important;
}

.search-bar-container button {
margin: 0.6rem;
border: transparent;
}



/* FILTER RENDER */

.filter-render{
  border: solid 0.1rem;
}


/* HOME PAGE */

.section1-container {
  background-image: url('/images/home-plate.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  font-weight: 700;
}

.section1-div {
  margin: 20vh 0 0 10vw;
}

.section1-div h2 {
  color: rgb(52, 122, 69);
  font-size: 4rem;
  font-weight: 600;
}

.section1-div h4 {
  font-size: 2rem;
  color: rgb(54, 121, 70);
  margin-bottom: 2rem;

}

.section1-div button {
  font-size: 1.7rem;
  color: white;
  background-color: rgba(121,192,85, 0.904);
  border: solid rgb(240, 245, 230, 0.3);;
}

.recipe-name {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.feat-recipe {
  border-radius: 20px;
}

.text-box {
  background-color: rgba(20,50,20,0.75);
  width: 100%;
  padding: 2% 0;
  border-radius: 0 0 20px 20px;
}


/* SECTION 2 */

/* .section2 {
  
} */

.section2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2-container img {
  width: 10vw;
}

.section2-container h4 {
  margin: 1rem 0;
}

.section2-container p {
  width: 11rem;
}

.div-bar {
  height: 0.4vh;
  width: 5vw;
  background: orangered;
  margin-bottom: 2vh;
}

/* FEATURED RECIPES */

.featured-recipes {
  width: 85%;
}

.feat-recipe {
  background-size: cover;
  height: 45vh;
}

.difficulty-text {
  margin: 0;
  text-decoration: none;
  color: rgb(52, 122, 69);
}

.difficulty-link {
  color: rgb(42, 99, 56);
}

.difficulty-icon {
  margin: 2vh 0 1vh 0;
  /* max-width: 20vw; */
  max-height: 7vh;
  /* min-width: 10vw; */
  min-height: 3vh;
  width: auto;
  height: auto;
}

/* LOGIN FORM*/

.login-logo {
  width: 8vw;
}

.login-container {
  margin: 6vh 0;
  
}

.login-form{
  background-color: rgba(243, 240, 237, 0.3);
  border: solid 0.1rem grey;
  border-radius: 0.8rem;
  width: 25vw;
  outline: 0;
  box-shadow: 0px 0px 4px 2px rgba(164,148,132, 0.6);
}

.login-form h2 {
  margin-top: 2vh;
  color: rgb(141, 124, 108);
  font-size: 1.5rem;

}

.login-form input{
  width: 20vw;
  border-width: 0;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  background-color: rgba(243, 240, 237, 0);

}

.div-bar-form {
  border: solid 0.5px rgba(33, 83, 21, 0.6);
  width: 20vw;
}

.no-account {
  margin-top: 6vh;
}

.create-btn {
  background: #ff8f00 !important;
  color: #ffffff;
  border: solid #ff8f00 !important;
}

.create-btn:hover {
  background: #e65100 !important;
  border: solid #e65100 !important;
}

.create-btn a {
  color: #ffffff;
}

.create-btn a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* SIGNUP FORM */

.signup-form{
  background-color: rgba(243, 240, 237, 0.3);
  border: solid 0.1rem grey;
  border-radius: 0.8rem;
  width: 40vw;
  outline: 0;
  box-shadow: 0px 0px 4px 2px rgba(164,148,132, 0.6);
}

.signup-form input{
  width: 20vw;
  border-width: 0;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  background-color: rgba(243, 240, 237, 0);
}

.signup-form h2 {
  margin-top: 2vh;
  color: rgb(141, 124, 108);
  font-size: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.input-container-picture {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: rgb(141, 124, 108);
}

.img-name {
  font-size: 14px;
  text-align: left;
  overflow: hidden;
}


/* PROFILE */

.profile-page {
  border-radius: 5px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.profile-container {
  /* border: solid green; */
  padding-bottom: 15vh;
}

.profile-container img{
  border-radius: 50%;
  box-shadow: 1px 5px 5px black;
  width: 15vw;
}

.recipes-favourites-container {
  margin-top: -10vh;
  /* margin-bottom: 10vh; */
}

.user-recipes {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2vw;
  width: 70%;
  margin: 0 auto;
  
}

/* RECIPE DETAILS */

.recipe-description {
  font-style: italic;
}


/* FOOTER */

.footer{
  background-color: rgba(211, 189, 162, 0.6);
  box-shadow: 0px -5px 7px 0px rgba(0,0,0,0.4);
}

.footer-links a {
  color: rgba(88, 73, 55, 0.8);
  text-decoration: none;
}

.footer-links a:hover {
  color: rgba(53, 37, 17, 0.8);
  text-decoration: none;
}


.fa-facebook-f {
  color: rgba(59, 89, 152, 0.8);
}

.fa-twitter {
  color: rgba(29, 161, 242, 0.8);
}

.fa-instagram {
  color: rgba(195, 42, 163, 0.8);

}

.fa-google-plus {
  color: rgba(52, 168, 83, 0.8);
}

.fa-linkedin-in {
  color: rgba(0, 119, 181, 0.8);
}

.fa-pinterest {
  color: rgba(189, 8, 28, 0.8);
}

.footer-copyrights a {
  color: rgba(71, 54, 31, 0.8);

}

.footer-copyrights p {
  color: rgba(88, 73, 55, 0.8);

}

.footer-copyrights a:hover {
  color: rgba(53, 37, 17, 0.8);
  text-decoration: none;
}

/* ABOUT US */
.about-background {
  width: 100%;
  height: 100%;
}

.about-page {
  width: 100%;
  height: 100%;
}

.our-mission {
  background-color: rgb(222, 245, 227);
  height: 30vh;
}

.who-we-are {
  background-color: rgb(180, 216, 187);
  height: 30vh;
}

.get-in-touch {
  background-color: rgb(142, 184, 150);
  height: 35vh;
  padding: 4vh 0;
}

.get-in-touch-row {
  width: 50%;
  margin: 0 auto;
}

.about-us-header {
  font-weight: 700;
  color: rgb(28, 63, 36)
}

.about-page>section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.who-we-are-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-text {
  width: 50%;
}



.about-us-form {
  width: 100%;
  /* padding-top: 3vh; */
}

/* MEDIA QUERIES */


/* S, M and G MOBILES */

@media (max-device-width: 425px)  { 
  .login-form {
    width: 80vw;
  }

  .signup-form {
    width: 90vw;
  }

  .login-form input, .div-bar-form {
    width: 60vw;
  }

  .signup-form input {
    width: 70vw;
  }
  
  .login-form input::placeholder, .signup-form input::placeholder {
    text-align: center;
  }

  .feat-recipe {
    height: 30vh;
  }
}