@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;

}

img {
  width: 100%;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;

}

/* NAVBARS */

.nav-container{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.4);
  background-color: rgb(182, 165, 148);

}

.nav-main{
  height: 8vh;
}

.nav-logo {
  width: 6vw;
}

.nav-buttons a {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.split-container div {
  height: 0.1vh;
  width: 97vw;
  background-color: rgba(137, 145, 141, 0.3);
}

.second-navbar {
  background-color: rgba(255, 255, 255, 0.1);
}

.second-nav-icon-div {
  width: 40vw;
}

.nav-icon-container{
  display: flex;
  align-items: center;
  margin-right: 1vw;
  color: rgba(255, 255, 255, 1);
}

.nav-icon-container img {
  width: 2.5vw;

}

.nav-icon-container p {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  width: 6vw;
  
}

.navbar-list a.chosen,
.navbar-list a:hover {
  border-bottom: 0.5px solid lightgreen;
  color: whitesmoke;
}

.navbar-list a {
  letter-spacing: 0.1rem;
}

.logged-in-welcome {
  display: flex;
  align-items: center;
  margin-right: 1vw;
  font-weight: bold;
  color: rgba(95, 59, 19, 0.863);
}
/* SEARCH BAR */

.search-bar-container {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  height: 5vh;
  width: 38vw;
  border-radius: 24px;
  z-index: 3;
}

.search-bar-container input {
margin: 0.6rem;
width: 100%;
border: transparent;
outline:0px !important;
-webkit-appearance:none;
box-shadow: none !important;
}

.search-bar-container button {
margin: 0.6rem;
border: transparent;
}



/* FILTER RENDER */

.filter-render{
  border: solid 0.1rem;
}


/* HOME PAGE */

.section1-container {
  background-image: url('/images/home-plate.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  font-weight: 700;
  position: relative;
}

.section1-div {
  margin: 0 20vw 0 0;
}

.section1-div h2 {
  color: rgba(85, 187, 111, 0.9);
  font-size: 3.8rem;
  font-weight: 600;
  letter-spacing: 0.2vw;

}

.section1-div h4 {
  font-size: 1.5rem;
  color: rgba(85, 187, 111, 0.7);
  margin-bottom: 2rem;
  letter-spacing: 0.1vw;
  font-style: italic;

}

.section1-div button {
  font-size: 1.3rem;
  letter-spacing: 0.1vw;
  /* color: white;
  background-color: rgba(121,192,85, 0.904);
  border: solid rgb(240, 245, 230, 0.3);; */
  background: rgba(212, 99, 17, 0.9) !important;
  color: #ffffff;
  border: solid rgba(192, 89, 15, 0.1) 0.1rem !important;
}


.section1-div button:hover {
  background: rgba(241, 105, 7, 0.9) !important;
  border: solid rgba(241, 105, 7, 0.1) !important;
}

.recipe-name {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.feat-recipe {
  border-radius: 20px;
}

.text-box {
  background-color: rgba(20,50,20,0.75);
  width: 100%;
  padding: 2% 0;
  border-radius: 0 0 20px 20px;
}

.hash-link {
  position: absolute;
  bottom: 0.1rem;
}

.hash-link-icon {
  font-size: 2rem;
  color: rgba(241, 105, 7, 0.9);
}

.hash-link-icon:hover {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
}

/* SECTION 2 */

.section2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2-container img {
  width: 10vw;
}

.section2-container h4 {
  margin: 1rem 0;
  letter-spacing: 0.05rem;
}

.section2-container p {
  width: 15rem;
  letter-spacing: 0.05rem;
}

.div-bar {
  height: 0.4vh;
  width: 5vw;
  background: rgba(241, 105, 7, 0.9);
  margin-bottom: 2vh;
}


/* ALL RECIPES */

.all-recipes-header {
  position: relative;
  text-align: center;
  margin: 10vh 10vw 0 10vw;
}

.sub-header span {
  font-weight: bolder;
}

.all-recipes-header::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    z-index: -1;
    background-color: #d8d8d8;
    content: "";
}

.all-recipes-header h2 {
  line-height: 1.2;
  letter-spacing: 0.2vw;
  width: 55vw;
  background-color: #fff;
  font-weight: bold;
  color: rgba(123,72,32, 0.9)
}

.sub-header {
  margin-bottom: 10vh;
}

.sub-header p {
  line-height: 1.5;
  letter-spacing: 0.2vw;
  font-style: italic;
  color: rgba(123,72,32, 0.7)
}

/* RECIPE CARD */

.recipe-img {
  border-radius: 1px;
  width: 35vw;
}

.recipe-card-infos p {
  letter-spacing: 0.1rem;
  text-align: justify;

}

.recipe-card-infos a:hover {
  color: rgba(33, 83, 21, 0.6);
}


.recipe-card-infos h3 {
  margin-bottom: 1vh;
  color: rgba(121,192,85, 0.904);
  letter-spacing: 0.1rem;
}

.recipe-card-infos h4 {
  margin-bottom: 4vh;
  letter-spacing: 0.1rem;
}

.recipe-card-img {
  width: 2vw;
  margin-right: 2vw;

}

.profile-recipe-card-infos p {
  letter-spacing: 0.1rem;

}

.profile-recipe-card-infos h3 {
  margin-bottom: 0.5vh;
  color: rgba(121,192,85, 0.904);
  letter-spacing: 0.1rem;
}

.profile-recipe-card-infos h4 {
  margin-bottom: 2vh;
  font-style: italic;
  text-align: start;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.profile-recipe-card-img {
  width: 1.5vw;
  margin-right: 1vw;
}


/* RECIPE DETAILS */

.text-container {
  position: relative;
  text-align: center;
  margin: 3vh 10vw 0 10vw;
  margin-bottom: 6vh;
}

.text-container::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  z-index: -1;
  background-color: #d8d8d8;
  content: "";
}

.text-container h4 {
line-height: 1.2;
letter-spacing: 0.2vw;
background-color: #fff;
font-weight: bold;
padding: 0 3vw;
color: rgba(100, 96, 92, 0.9);
}

.text-container2 {
  position: relative;
  text-align: center;
  margin: 10vh 0 0 0;
  margin-bottom: 6vh;
}

.text-container2::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  z-index: -1;
  background-color: #d8d8d8;
  content: "";
}

.text-container2 h4 {
line-height: 1.2;
letter-spacing: 0.2vw;
padding: 0 3vw;
background-color: #fff;
font-weight: bold;
color: rgba(100, 96, 92, 0.9);
}

.btn2{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);/*IconColor*/
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66); 
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.btn2 .fa {
  line-height: 40px;
  color: rgba(0,0,0,.7);
}
.btn2:active {/*onClick*/
  background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.heart {
  color: red;
}

/* FEATURED RECIPES */



.featured-recipes-child {
  position: relative;
  text-align: center;
  margin: 10vh 10vw 0 10vw;
  margin-bottom: 6vh;

}

.featured-recipes-child::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    z-index: -1;
    background-color: #d8d8d8;
    content: "";
}

.featured-recipes-child h3 {
  line-height: 1.2;
  letter-spacing: 0.2vw;
  width: 45vw;
  background-color: #fff;
  font-weight: bold;
  color: rgba(123,72,32, 0.9);
}

.recipe-link:hover {
  text-decoration: none;
}

.difficulty-div a:hover {
  color: green;
}



.feat-recipe {
  background-size: cover;
  height: 45vh;
}

.difficulty-text {
  margin: 0;
  text-decoration: none;
  color: rgb(52, 122, 69);
}

.difficulty-link {
  color: rgb(42, 99, 56);
}

.difficulty-icon {
  margin: 2vh 0 1vh 0;
  /* max-width: 20vw; */
  max-height: 7vh;
  /* min-width: 10vw; */
  min-height: 3vh;
  width: auto;
  height: auto;
}

/* LOGIN FORM*/

.login-logo {
  width: 8vw;
}

.login-container {
  margin: 6vh 0;
  
}

.login-form{
  background-color: rgba(243, 240, 237, 0.3);
  border: solid 0.1rem grey;
  border-radius: 0.8rem;
  width: 25vw;
  outline: 0;
  box-shadow: 0px 0px 4px 2px rgba(164,148,132, 0.6);
}

.login-form h2 {
  margin-top: 2vh;
  color: rgb(141, 124, 108);
  font-size: 1.5rem;

}

.login-form input{
  width: 20vw;
  border-width: 0;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  background-color: rgba(243, 240, 237, 0);

}

.div-bar-form {
  border: solid 0.5px rgba(33, 83, 21, 0.6);
  width: 20vw;
}

.no-account {
  margin-top: 6vh;
}

.create-btn {
  background: #ff8f00 !important;
  color: #ffffff;
  border: solid #ff8f00 !important;
}

.create-btn:hover {
  background: #e65100 !important;
  border: solid #e65100 !important;
}

.create-btn a {
  color: #ffffff;
}

.create-btn a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* SIGNUP FORM */

.signup-form{
  background-color: rgba(243, 240, 237, 0.3);
  border: solid 0.1rem grey;
  border-radius: 0.8rem;
  width: 40vw;
  outline: 0;
  box-shadow: 0px 0px 4px 2px rgba(164,148,132, 0.6);
}

.signup-form input{
  width: 20vw;
  border-width: 0;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  background-color: rgba(243, 240, 237, 0);
}

.signup-form h2 {
  margin-top: 2vh;
  color: rgb(141, 124, 108);
  font-size: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.input-container-picture {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: rgb(141, 124, 108);
}

.img-name {
  font-size: 14px;
  text-align: left;
  overflow: hidden;
}

/* MESSAGE */

.success-message {
  background-color: rgb(129, 168, 129);
}

.failure-message {
  background-color: rgb(196, 98, 81);
}

.message {
  margin: 0;
  /* margin-top: 10px;
  padding: 5px 10px; */
  color: white;
  /* transition: all ease-in-out .3s;
  opacity: 1; */
}

/* .fade-out {
  opacity: 0;
} */

/* PROFILE */

.profile-page {
  border-radius: 5px;
  padding-bottom: 5vh;
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}



.profile-container {
  /* border: solid green; */
  padding-bottom: 15vh;
}

.profile-container img{
  border-radius: 50%;
  width: 15vw;
  border: solid rgba(126, 119, 115, 0.9) 0.2rem;
  height: fit-content;
}

.recipes-favourites-container {
  margin-top: -10vh;
}

.recipes-cards-container {
  overflow: scroll;
  height: 80vh;
}

.vl {
  border-left: 0.1rem solid rgba(202, 192, 179, 0.6);
  height: 30vh;
  width: 5%
}

.profile-infos{
  text-align: start;
}

.profile-infos i {
  font-size: 1.2rem;
  margin-right: 1.5vw;
}

.profile-infos h3 {
  color: rgba(123,72,32, 0.9);
  font-weight: 600;
  letter-spacing: 0.1vw;
  margin-bottom: 4vh;
}

.profile-infos p {
  color: rgba(124, 79, 44, 0.9);
  letter-spacing: 0.1vw;
}

.profile-btn {
  border-radius: 5px !important;
  height: 6vh;
}

.user-recipes {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2vw;
  width: 70%;
  margin: 0 auto;
}

.delete-button a, .edit-button a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.delete-button a:hover, .edit-button a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

/* EDIT PROFILE */

.profile-edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.title-edit-profile {
  color: rgba(123,72,32, 0.9);
}

/* RECIPE DETAILS */

.recipe-description {
  font-style: italic;
}

.recipe-details-picture {
  width: 70%;
}

.recipe-details-general-info {
  width: 100%;
  margin: 0 auto !important;
  margin-top: 3vh !important;
}

.recipe-details-picture > img {
  height: 45vh;
  object-fit: cover;
  border: solid rgba(126, 124, 122, 0.9) 1px  ;
  border-radius: 2px;
}

.recipe-details-name > h3 {
  font-weight: 700;
  font-size: 2rem;
  margin: 3vh 0 4vh 0;
  color: rgba(90, 145, 62, 0.904);
  letter-spacing: 0.1rem;
}

.recipe-details-general-info-col {
  justify-content: space-around;
}

.individual-detail {
  align-items: center;
}

.individual-detail > p {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.recipe-details-icon {
  width: 2.4vw;
}

.instructions-div {
  width: 80%;
  margin: 0 auto !important;
}

.page-details li {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.page-details p {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

/* EDIT RECIPE FORM */

.edit-recipe-form {
  width: 50%;
  margin: 0 auto;
}

.master-form {
  width: 50%;
}

.master-form h2 {
  letter-spacing: 0.2rem;
  color: rgba(29, 28, 28, 0.9);
}

.master-form img {
  width: 4vw;
  margin-right: 2vw;
}

/* CONFIRM DELETE */

.confirm-delete {
  min-height: 61vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirm-delete-header > h3 {
  font-weight: 700;
  color: #e65100;
}

.confirm-delete-buttons {
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.individual-button {
  padding: 0.8rem 1.5rem !important;
}

/* FOOTER */

.footer{
  background-color: rgba(211, 189, 162, 0.6);
  box-shadow: 0px -5px 7px 0px rgba(0,0,0,0.4);
}

.footer-links a {
  color: rgba(88, 73, 55, 0.8);
  text-decoration: none;
}

.footer-links a:hover {
  color: rgba(53, 37, 17, 0.8);
  text-decoration: none;
}


.fa-facebook-f {
  color: rgba(59, 89, 152, 0.8);
}

.fa-twitter {
  color: rgba(29, 161, 242, 0.8);
}

.fa-instagram {
  color: rgba(195, 42, 163, 0.8);

}

.fa-google-plus {
  color: rgba(52, 168, 83, 0.8);
}

.fa-linkedin-in {
  color: rgba(0, 119, 181, 0.8);
}

.fa-pinterest {
  color: rgba(189, 8, 28, 0.8);
}

.footer-copyrights a {
  color: rgba(71, 54, 31, 0.8);

}

.footer-copyrights p {
  color: rgba(88, 73, 55, 0.8);

}

.footer-copyrights a:hover {
  color: rgba(53, 37, 17, 0.8);
  text-decoration: none;
}

/* ABOUT US */
.about-background {
  width: 100%;
  height: 100%;
}

.about-page {
  width: 100%;
  height: 100%;
}

.our-mission {
  background-color: rgb(222, 245, 227);
  height: 30vh;
}

.who-we-are {
  background-color: rgb(180, 216, 187);
  height: 50vh;
}

.get-in-touch {
  background-color: rgb(142, 184, 150);
  /* height: 60vh; */
  padding: 4vh 0;
}

.get-in-touch-row {
  width: 50%;
  margin: 0 auto;
}

.about-us-header {
  font-weight: 700;
  color: rgb(28, 63, 36)
}

.about-page>section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.who-we-are-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-text {
  width: 50%;
}



.about-us-form {
  width: 100%;
  /* padding-top: 3vh; */
}

/* MEDIA QUERIES */


/* S, M and G MOBILES */

@media (max-device-width: 425px)  { 

  .vl {
    border-left: 0rem solid rgba(202, 192, 179, 0.6);
    height: 0;
    width: 0;
  }

  .profile-infos {
    text-align: center;
  }

  .profile-container img {
    width: 55vw;
  }

  .profile-infos h3 {
    font-size: 1.5rem;
  }

  .login-form {
    width: 80vw;
  }

  .signup-form {
    width: 90vw;
  }

  .login-form input, .div-bar-form {
    width: 60vw;
  }

  .signup-form input {
    width: 70vw;
  }
  
  .login-form input::placeholder, .signup-form input::placeholder {
    text-align: center;
  }

  .feat-recipe {
    height: 30vh;
  }

  .user-recipes {
    width: 90vw;
  }


  .all-recipes-header {
    margin-top: 5vh;
  }

  .all-recipes-header h2 {
    font-size: 1rem;
  }

  .sub-header {
    margin-bottom: 5vh;
  }
  
  .sub-header p {
    font-size: 0.8rem;
    width: 50vw;
  }
  
  .section1-container {
    background-position: 80% 0%;
    background-size: 400%;
    background-repeat: no-repeat;
  }

  .section1-div {
    margin-bottom: 18vh;
    margin-right: 0;
  }

  .section1-div h2 {
    color: rgb(52, 122, 69);
    font-size: 3.1rem;
    font-weight: 600;
  }

  .section1-div h4 {
    font-size: 1.7rem;
    color: rgb(54, 121, 70);
    margin-bottom: 2rem;
  }

  .navbar-collapse {
    position: relative;
    z-index: 10;
    background-color: rgba(116, 202, 142, 0.9);
    flex-direction: column !important;
    align-items: flex-end !important;
    border-radius: 10px;
    display: flex;
  }

  .navbar-collapse > div a {
    font-size: 1.4rem;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end;
    letter-spacing: 0.5vw;
    color: rgb(17, 88, 17);
  }

  .navbar-collapse > div p {
    font-size: 1.4rem;
    letter-spacing: 0.5vw;

  }

  .nav-logo {
    width: 12vw;
  }

  .nav-link {
    padding: 0.5rem 0 !important;
  }

  .navbar-collapse img {
    display: none !important;
  }

  .navbar-collapse .navbar-list {
    /* background-color: green; */
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end;
    padding: 0 5%;
  }

  .second-navbar {
    flex-direction: column-reverse;
  }

  .second-nav-icon-div {
    width: 100%;
    justify-content: space-around;
    margin-left: 0 !important;
  }

  .second-navbar-search {
    width: 100%;
    justify-content: center;
  }

  .search-bar-container {
    width: 80%;
    margin: 1vh auto;
  }

  form.search-bar-container {
    width: 100%;
  }

  .second-nav-icon-div img {
    /* display: none; */
    width: 6vw;
  }

  .nav-icon-container p {
    font-size: 1rem;
    width: 100%;
  }

  .our-mission {
    background-color: rgb(222, 245, 227);
    height: 100%;
    padding: 4vh 0;
  }
  
  .who-we-are {
    background-color: rgb(180, 216, 187);
    height: 100%;
    padding: 4vh 0;
  }
  
  .get-in-touch {
    background-color: rgb(142, 184, 150);
    height: 100%;
    padding: 4vh 0;
  }


  .recipe-img {
    width: 80vw;
  }

  .recipe-card-img {
    width: 6vw;
  }

  .recipe-card-infos h3 {
    margin-bottom: 2vh;
  }

  .recipe-details-icon {
    width: 8vw;
    margin-right: 2vw;
  }

  .recipe-details-general-info {
    width: 90%;
    margin-top: 2vh !important;
  }

  .recipe-details-general-info-col {
    justify-content: space-between;
    flex-direction: column;
  }

  .recipe-details-picture {
    width: 100%;
  }

  .individual-detail {
    margin-bottom: 2vh;
    display: flex;

  }

  .individual-detail > p {
    font-size: 0.9rem;
    margin: 0;
  }

  .instructions-div {
    width: 100%;
    margin: 0 auto !important;
  }

  .edit-recipe-form {
    width: 90%;
  }

  .master-form {
    width: 80%;
  }

  .navbar-list a {
    letter-spacing: 0.05rem;
  }

  .confirm-delete {
    min-height: 55vh;
  }
  
  .confirm-delete-header > h3 {
    font-weight: 700;
    color: #e65100;
    margin: 0 4vw;
  }
  
  .confirm-delete-buttons {
    width: 75%;
  }

  .master-form img {
    width: 15vw;
    margin-right: 4vw;
  }

}