@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: 'Lato', sans-serif;

}

img {
  width: 100%;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;

}


/* NAVBARS */

.nav-container{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.4);
  width: 100vw;
  background-color: rgba(196,180,164);

}

.nav-main{
  height: 8vh;
}

.nav-logo {
  width: 6vw;
}

.nav-buttons a {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.split-container div {
  height: 0.1vh;
  width: 97vw;
  background-color: rgba(137, 145, 141, 0.3);
}

.second-navbar {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 !important;
}

.second-nav-icon-div {
  width: 40vw;
}

.nav-icon-container{
  display: flex;
  align-items: center;
  margin-right: 1vw;
  color: rgba(255, 255, 255, 1);
}

.nav-icon-container img {
  width: 2.5vw;

}

.nav-icon-container p {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  width: 6vw;
  
}

.navbar-list a.chosen,
.navbar-list a:hover {
  border-bottom: 0.5  px solid lightgreen;
}

.logged-in-welcome {
  display: flex;
  align-items: center;
  margin-right: 1vw;
  font-weight: bold;
  color: rgba(95, 59, 19, 0.863);
}
/* SEARCH BAR */

.search-bar-container {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  height: 5vh;
  width: 38vw;
  border-radius: 24px;
  z-index: 3;
}

.search-bar-container input {
margin: 0.6rem;
width: 100%;
border: transparent;
outline:0px !important;
-webkit-appearance:none;
box-shadow: none !important;
}

.search-bar-container button {
margin: 0.6rem;
border: transparent;
}



/* FILTER RENDER */

.filter-render{
  border: solid 0.1rem;
}


/* HOME PAGE */

.section1-container {
  background-image: url('/images/home-plate.jpg');
  background-size: cover;
  height: 90vh;
  font-weight: 700;
}

.section1-div {
  margin: 20vh 0 0 10vw;
}

.section1-div h2 {
  color: rgb(52, 122, 69);
  font-size: 4rem;
}

.section1-div h4 {
  font-size: 2rem;
  color: rgb(54, 121, 70);

}

.section1-div button {
  font-size: 1.7rem;
  color: white;
  background-color: rgba(121,192,85, 0.904);
  border: solid rgb(240, 245, 230, 0.3);;
}

.recipe-name {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.feat-recipe {
  border-radius: 20px;
}

.text-box {
  background-color: rgba(20,50,20,0.75);
  width: 100%;
  padding: 2% 0;
  border-radius: 0 0 20px 20px;
}

.difficulty-text {
  margin: 0;
  text-decoration: none;
  color: green;
}


/* SECTION 2 */

/* .section2 {
  
} */

.section2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2-container img {
  width: 10vw;
}

.section2-container h4 {
  margin: 1rem 0;
}

.section2-container p {
  width: 11rem;
}

.div-bar {
  height: 0.4vh;
  width: 5vw;
  background: orangered;
  margin-bottom: 2vh;
}

/* LOGIN FORM*/

.login-logo {
  width: 8vw;
}

.login-container {
  margin: 6vh 0;
  
}

.login-form{
  background-color: rgba(243, 240, 237, 0.3);
  border: solid 0.1rem grey;
  border-radius: 0.8rem;
  width: 25vw;
  outline: 0;
  box-shadow: 0px 0px 4px 2px rgba(164,148,132, 0.6);
}

.login-form h2 {
  margin-top: 2vh;
  color: rgb(141, 124, 108);
  font-size: 1.5rem;

}

.login-form input{
  width: 20vw;
  border-width: 0;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  background-color: rgba(243, 240, 237, 0);

}


.div-bar-form {
  border: solid 0.5px rgba(33, 83, 21, 0.6);
  width: 20vw;
}

.no-account {
  margin-top: 6vh;
}

.create-btn {
  background: #ff8f00 !important;
  color: #ffffff;
  border: solid #ff8f00 !important;
}

.create-btn:hover {
  background: #e65100 !important;
  border: solid #e65100 !important;
}

.create-btn a {
  color: #ffffff;
}

.create-btn a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* SIGNUP FORM */

.signup-form{
  background-color: rgba(243, 240, 237, 0.3);
  border: solid 0.1rem grey;
  border-radius: 0.8rem;
  width: 40vw;
  outline: 0;
  box-shadow: 0px 0px 4px 2px rgba(164,148,132, 0.6);
}

.signup-form input{
  width: 20vw;
  border-width: 0;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  background-color: rgba(243, 240, 237, 0);
}

.signup-form h2 {
  margin-top: 2vh;
  color: rgb(141, 124, 108);
  font-size: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.input-container-picture {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: rgb(141, 124, 108);
}


/* PROFILE */

.profile-page {
  border: solid red;
}

.profile-container {
  border: solid green;
  width: 70vw;
}

.profile-container img{
  width: 4vw;
}

.profile-sub-container {
  border: solid blue;
  width: 6vw;
}

.recipes-favourites-container {
  border: solid;
  width: 60vw;
}



